
<table border=1px>
    <tr>
        <th>Sr. No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor="let i of emplyoee; let j=index">
        <td>{{j+1}}</td>
        <td>{{i.name | uppercase | cusromPipe:i.gender}}</td>
        <td>{{i.age}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.email}}</td>
        <td>{{i.salary | currency:"INR"}}</td>
    </tr>
</table>

<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{title}}</h1>

<h1>{{today | date:'fullDate'}}</h1>

<h1>{{title | slice : 3 : 6 | uppercase}}</h1>

<h1>{{user | json | uppercase}}</h1>

<h2>{{020000.30000 | number: '2.2-3'}}</h2>

<h2>{{20 | currency: 'USD'}}</h2>

<!--
    Custom pipes code start here
-->

<!-- <h2>{{20 | usdInr : 70}}</h2> -->
